*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}
html,body{
height: 100%;
width: 100%;
}
#main{
width: 100%;
background-color: black;
}
#container-first{
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-evenly;
}
button{
    padding: 8px 22px;
}
.box{
    /* clip-path: inset(5% 20% 15% 10%); */
    width: 300px;
    height: 300px;
    background-color: red;
}
.circle{
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
.try{
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}