*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
}
#left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/watch-ultra.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#left img{
    width: 25%;
    margin-top: 50px;
}
#left h4{
    margin: 20px 0px;
    font-size: 24px;
    font-weight: 400;
}
#left h5{
    font-size: 19px;
    font-weight: 400;
    opacity: .5;
}
.link{
    margin-top: 25px;
}
.link a{
    color: #0066CC;
    text-decoration: none;
}
.link a:hover{
    text-decoration: underline solid #0066CC;
}
#l-btn{
    padding-left: 40px;
}
#right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(images/apple-watch.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#right img{
    width: 50%;
    margin-top: 50px;
}
#right h4{
    text-align: center;
    margin: 5px 0px;
    font-size: 24px;
    font-weight: 400;
}
.l-btn{
    padding-left: 40px;
}
.ri-video-line{
    border-radius: 50%;
}